body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

aside {
  position: absolute;
  left: 90%;
  top: 60%;
  width: 14rem;
  height: 30rem;
  float: right;
  font-style: italic;
  transform: translate(-50%, -50%);
}

aside p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

aside img {
  width: 100%;
  object-fit: fill;
  -webkit-box-shadow: 0px 10px 15px -5px gold;
  box-shadow: 0px 10px 15px -5px gold;
}

footer {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 4px solid red;
  margin-right: 50px;
}

a {
  color: gold;
  text-decoration: none;
}

.a {
  position: sticky;
  position: -webkit-sticky;
  background-color: black;
  top: 0;
  z-index: 1;
}

.center {
  text-align: center;
}

.background_img {
  width: 100%;
  height: 100%;
  opacity: 0.10;
}

.title {
  margin: 1rem;
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  text-transform: capitalize;
}

.navbar {
  padding-left: 4rem;
  padding-top: 0px;
  padding-bottom: 10px;
  border-bottom: 4px solid red;
}

.navitem {
  text-decoration: none;
  color: gold;
  font-size: 1.2rem;
  padding: 1rem;
}

.slogan {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  background: -webkit-linear-gradient(#ff1f00, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 50%;
  line-height: 4rem;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 10px;
  width: 20%;
}

.chat {
  position: sticky;

}

textarea {
  resize: none;
  margin-top: 4px;
  margin-right: 2px;
  font-family: sans-serif;
  width: 71.5%;
  border-radius: 3px;
  border: 0;
}

table.cardapio {
  background-color: ghostwhite;
  /* border: 4px solid re; */
  border-collapse: collapse;
  text-align: center;
  width: 60%;
  height: 12rem;
  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
table.cardapio td, table.cardapio th {
  border: 2px solid gray;
  padding: 3px 2px;
}
table.cardapio tbody td {
  padding: 1rem;
  font-size: 1rem;
  color: black;
  line-height: 1.3rem;
}
table.cardapio tr:nth-child(even) {
  background: darkgray;
}
table.cardapio thead {
  background: gold;
}
table.cardapio thead th {
  font-size: 1.2rem;
  font-weight: lighter;
  color: black;
  text-align: center;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item2 {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 1rem;
  width: 40%;
  max-height: 10%;
  /* object-fit: scale-down; */
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.quem-somos {
  font-size: 1.2rem;
  max-width: 50%;
  margin-left: 50%;
  line-height: 1.4rem;
  transform: translateX(-50%);
}
.quem-somos #titulo-about {
  font-size: 2rem;
}

form input {
  text-align: justify;
  vertical-align: middle;
  color: black;
  width: 65%;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 2px;
  border-radius: 3px;
  border: 0;
  padding-left: 5px;
  margin-top: 5px;
}
form label {
  margin: 0px;
  margin-right: 2px;
  font-size: 1rem;
  line-height: 1rem;
  display: inline-block;
  text-align: right;
  width: 15%;
}

.btn {
   font-size: 1rem;
   line-height: 1rem;
   width: 39%;
   margin: 4px;
   padding: 0.5em;
   border-radius: 3px;
   border: 0;
   text-shadow: 0px 1px 1px white;
}
.btn:hover {
  opacity: 0.8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Remove input number arrows */
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}
