/* 
#3F2DA5
#5038BC
#6146D9
#7354F4
#7E6CFB
#7E84F3
#7D99ED
#77ADE6
#70C2DF
#74D3DC
#9EDFE5
#C3EBEF
#DDF3F5
#F4FBFC

background = #7E6CFB
font-color = #F4FBFC
head-footer= #6146D9
head_footer_border = #77ADE6
text/box shadow = #3F2DA5
 */

body {
  background-color: #7E6CFB;
  color: #F4FBFC;
  font-family: sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  user-select: none;
  margin: 0;
}

img {
  pointer-events: none;
  user-select: none;
}

aside {
  display: none;
}

aside p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

aside img {
  width: 100%;
  object-fit: fill;
  -webkit-box-shadow: 0px 10px 15px -5px #3F2DA5;
  box-shadow: 0px 10px 15px -5px #3F2DA5;
  user-select: none;
}

footer {
  /* position: absolute; */
  width: 100%;
  height: 40%;
  background-color: #6146D9;
  box-shadow: 0px -4px 15px -5px #3F2DA5;
  border-top: 4px solid #77ADE6;
  margin-right: 50px;

}

a {
  color: #F4FBFC;
  text-shadow: 2px 2px 2px #3F2DA5;
  text-decoration: none;
}

header {
  background-color: #6146D9;
  border-bottom: 4px solid #77ADE6;
  box-shadow: 0px 4px 10px -5px #3F2DA5;
}

.center {
  text-align: center;
}

.background_img {
  display: none;
}

.title {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  text-transform: capitalize;
}

.navbar {
  padding: 1rem;
}

.navitem {
  /* display: block; */
  text-decoration: none;
  font-size: 1rem;
  padding-right: 1rem;
}

.slogan {
  padding-top: 25%;
  padding-bottom: 25%;
  font-size: 2rem;
  max-width: 100%;
  line-height: 3rem;
  text-shadow: 2px 2px 2px #3F2DA5;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 10px;
  width: 100%;
}

.chat {
  position: sticky;

}

textarea {
  resize: none;
  margin-top: 4px;
  margin-right: 2px;
  font-family: sans-serif;
  width: 71.5%;
  border-radius: 3px;
  border: 0;
}

table.cardapio {
  background-color: ghostwhite;
  /* border: 4px solid re; */
  border-collapse: collapse;
  text-align: center;
  width: 60%;
  height: 12rem;
  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
table.cardapio td, table.cardapio th {
  border: 2px solid gray;
  padding: 3px 2px;
}
table.cardapio tbody td {
  padding: 1rem;
  font-size: 1rem;
  color: black;
  line-height: 1.3rem;
}
table.cardapio tr:nth-child(even) {
  background: darkgray;
}
table.cardapio thead {
  background: gold;
}
table.cardapio thead th {
  font-size: 1.2rem;
  font-weight: lighter;
  color: black;
  text-align: center;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item2 {
  text-align: justify;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 1rem;
  width: 90%;
}

.flex-container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item3 {
  text-align: justify;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 1rem;
  max-height: 10%;
  max-width: 100%;
  font-size: 1.2rem;
  line-height: 1.4rem;
  width: 100%;
}
.flex-item3 iframe {
  width: 100%;
}
.flex-item3 p {
  text-align: center;
}

.quem-somos {
  width: 90%;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  padding: 1rem;
}
.quem-somos #titulo-about {
  font-size: 1.6rem;
}
.flex-item2 #titulo-missao {
  font-size: 1.6rem;
}
.btn {
  font-size: 1rem;
  line-height: 1rem;
  width: 45%;
  margin: 0;
  border-radius: 3px;
  border: 0;
  text-align: center;
  box-shadow: 0px 2px 15px -5px #3F2DA5;
}
.btn:hover {
  opacity: 0.8;
}

.img-equipe {
  max-width: 90%;
  margin: 1rem;
  margin-bottom: 3rem;
}

form input {
  align-self: center;
  text-align: justify;
  vertical-align: middle;
  color: black;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 2px;
  border-radius: 3px;
  border: 0;
}

form label {
  display: none;
}

/* form fieldset button {
  padding: 1rem;
}  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Remove input number arrows */
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

@media only screen and (min-width: 700px){
  header {
    background-color: #6146D9;
    border-bottom: 4px solid #77ADE6;
  }
  .title {
    margin: 0;
    padding: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    text-transform: capitalize;
  }
  .navbar {
    display: inline-flex;
    padding: 2rem;
    padding-top: 1rem;
  }
  .navitem {
    display: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  .flex-item {
    text-align: center;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin: 10px;
    width: 20%;
  }
  .flex-item2 {
    text-align: justify;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 0.5rem;
    max-height: 10%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 40%;
  }
  .flex-item3 {
    text-align: justify;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 0.5rem;
    max-height: 10%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 35%;
  }
  form input {
    text-align: justify;
    vertical-align: middle;
    color: black;
    width: 40%;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 2px;
    border-radius: 3px;
    border: 0;
    padding-left: 5px;
    margin-top: 5px;
  }
  form label {
    margin: 0px;
    margin-right: 2px;
    font-size: 1rem;
    line-height: 1rem;
    display: inline-block;
    text-align: right;
    width: 15%;
  }
  .btn {
    font-size: 1rem;
    line-height: 1rem;
    width: 20%;
    margin: 4px;
    padding: 0.5em;
    border-radius: 3px;
    border: 0;
    text-align: center;
  }
  .background_img {
    display: inherit;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
  .slogan {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    line-height: 4rem;
    text-shadow: 2px 2px 2px #3F2DA5;
  }
  aside {
    display: inherit;
    position: absolute;
    left: 90%;
    top: 60%;
    width: 14rem;
    height: 30rem;
    float: right;
    font-style: italic;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px #3F2DA5;
  }
  footer {
    padding: 2rem;
    font-size: 1.2rem;
    width: 100%;
    height: 40%;
    background-color: #6146D9;
    border-top: 4px solid #77ADE6;
    margin-right: 50px;
  }
  .quem-somos {
    font-size: 1.2rem;
    max-width: 60%;
    line-height: 1.4rem;
    transform: translateX(-50%);
    text-align: justify;
    text-justify: inter-word;
    margin-left: 50%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .quem-somos #titulo-about {
    font-size: 2rem;
  }
  .img-equipe {
    max-width: 60%;
    margin-bottom: 5rem;
  }
  .login {
    padding: 10rem;
  }
  .login p{
    font-size: 1.4rem;
  }
}