/* 
  Palette
  #212529
  #343a40
  #495057
  #6c757d
  #adb5bd
  #ced4da
  #dee2e6
  #e9ecef
  #f8f9fa

  background = #343a40
  font-color = #f8f9fa
  head-footer= #212529
  head_footer_border = #495057
  text/box shadow = #495057
  chat = #f8f9fa
*/

body {
  background-color: #343a40;
  color: #f8f9fa;
  font-family: sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  user-select: none;
  margin: 0;
}

img {
  pointer-events: none;
  user-select: none;
}

aside {
  display: none;
}

aside p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

aside img {
  width: 100%;
  object-fit: fill;
  -webkit-box-shadow: 0px 10px 15px -5px #495057;
  box-shadow: 0px 10px 15px -5px #495057;
  user-select: none;
}

footer {
  /* position: absolute; */
  width: 100%;
  height: 40%;
  background-color: #212529;
  box-shadow: 0px -4px 15px -5px #495057;
  border-top: 4px solid #495057;
  margin-right: 50px;

}

a {
  color: #f8f9fa;
  text-shadow: 2px 2px 2px #495057;
  text-decoration: none;
}

header {
  background-color: #212529;
  border-bottom: 4px solid #495057;
  box-shadow: 0px 4px 10px -5px #495057;
}

.center {
  text-align: center;
}

.login {
  margin: 2rem;
  padding-top: 1rem;
  padding-bottom: 50%;
}
.login button{
  margin: 5px;
  padding: 0.5rem;
}

.cadastro {
  margin-top: 0;
  margin-bottom: 4rem;
}

.background_img {
  display: none;
}

.title {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: lighter;
  color: white;
  text-transform: capitalize;
}

.navbar {
  padding: 1rem;
}

.navitem {
  /* display: block; */
  text-decoration: none;
  font-size: 1rem;
  padding-right: 1rem;
}

.slogan {
  padding-top: 25%;
  padding-bottom: 25%;
  font-size: 2rem;
  max-width: 100%;
  line-height: 3rem;
  text-shadow: 2px 2px 2px #495057;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item {
  text-align: center;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 1rem;
  width: 100%;
}
.flex-item p {
  padding: 0;
  margin: 1rem;
  margin-top: 1.2rem;
  line-height: 1rem;
}
.chat {
  position: sticky;

}

textarea {
  resize: none;
  margin-top: 4px;
  margin-right: 2px;
  font-family: sans-serif;
  width: 100%;
  border-radius: 3px;
}

table.cardapio {
  background-color: ghostwhite;
  /* border: 4px solid re; */
  border-collapse: collapse;
  text-align: center;
  width: 60%;
  height: 12rem;
  margin-top: 2rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
table.cardapio td, table.cardapio th {
  border: 2px solid gray;
  padding: 3px 2px;
}
table.cardapio tbody td {
  padding: 1rem;
  font-size: 1rem;
  color: black;
  line-height: 1.3rem;
}
table.cardapio tr:nth-child(even) {
  background: darkgray;
}
table.cardapio thead {
  background: gold;
}
table.cardapio thead th {
  font-size: 1.2rem;
  font-weight: lighter;
  color: black;
  text-align: center;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item2 {
  text-align: justify;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 1rem;
  width: 90%;
}

.flex-container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item3 {
  text-align: justify;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 1rem;
  max-height: 10%;
  max-width: 100%;
  font-size: 1.2rem;
  line-height: 1.4rem;
  width: 100%;
}
.flex-item3 iframe {
  width: 100%;
}
.flex-item3 p {
  text-align: center;
}
.flex-item3 button {
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.quem-somos {
  width: 90%;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  padding: 1rem;
}
.quem-somos #titulo-about {
  font-size: 1.6rem;
}
.flex-item2 #titulo-missao {
  font-size: 1.6rem;
}
.btn {
  font-size: 1rem;
  line-height: 1rem;
  width: 100%;
  /* margin: 5px; */
  border-radius: 3px;
  border: 0;
  text-align: center;
  box-shadow: 0px 2px 15px -5px #495057;
  padding: 0.5rem;
}
.btn:hover {
  opacity: 0.8;
}

.img-equipe {
  max-width: 90%;
  margin: 1rem;
  margin-bottom: 3rem;
}

form input {
  align-self: center;
  text-align: justify;
  vertical-align: middle;
  color: black;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 2px;
  border-radius: 3px;
  border: 0;
}

form label {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Remove input number arrows */
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

#chat {
  display: none;
}

@media only screen and (min-width: 700px){
  header {
    background-color: #212529;
    border-bottom: 4px solid #495057;
  }
  .title {
    margin: 0;
    padding: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    text-transform: capitalize;
  }
  .navbar {
    display: inline-flex;
    padding: 2rem;
    padding-top: 1rem;
  }
  .navitem {
    display: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  .flex-item {
    text-align: center;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 10px;
    width: 30%;
    font-size: 1.2rem;
    /* font-size: 1rem; */
    line-height: 1rem;
    /* background-color: black; */
  }
  .flex-item p {
    font-size: 1rem;
    /* font-size: 1rem; */
    line-height: 1rem;
    /* background-color: black; */
  }
  .flex-item2 {
    text-align: justify;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 0.5rem;
    max-height: 10%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 40%;
  }
  .flex-item3 {
    text-align: justify;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    padding: 0.5rem;
    max-height: 10%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 45%;
  }
  .flex-item3 input {
    width: 80%;
  }
  .flex-item3 button {
    margin: 0;
    margin-top: 5px;
    width: 30%;
    transform: translateX(+75%);
  }
  form input {
    text-align: justify;
    vertical-align: middle;
    color: black;
    width: 40%;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 2px;
    border-radius: 3px;
    border: 0;
    padding-left: 5px;
    margin-top: 5px;
  }
  form label {
    margin: 0px;
    margin-right: 2px;
    font-size: 1rem;
    line-height: 1rem;
    display: inline-block;
    text-align: right;
    width: 15%;
  }
  .btn {
    font-size: 1rem;
    line-height: 1rem;
    width: 20%;
    margin: 4px;
    margin-left: 0px;
    margin-right: 1px;
    padding: 0.5rem;
    border-radius: 3px;
    border: 0;
    text-align: center;
  }
  .background_img {
    display: inherit;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
  .slogan {
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%,-50%);
    max-width: 50%;
    line-height: 4rem;
    text-shadow: 2px 2px 2px #495057;
  }
  aside {
    display: inherit;
    position: absolute;
    left: 90%;
    top: 60%;
    width: 14rem;
    height: 30rem;
    float: right;
    font-style: italic;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 2px #495057;
  }
  footer {
    width: 100%;
    height: 40%;
    background-color: #212529;
    border-top: 4px solid #495057;
    /* margin-right: 50px; */
  }
  .quem-somos {
    font-size: 1.2rem;
    max-width: 60%;
    line-height: 1.4rem;
    transform: translateX(-50%);
    text-align: justify;
    text-justify: inter-word;
    margin-left: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .quem-somos #titulo-about {
    margin: 0;
    margin-top: 2rem;
    font-size: 2rem;
  }
  .quem-somos #titulo-quem-somos {
    margin: 0;
    font-size: 2rem;
  }
  .img-equipe {
    max-width: 60%;
    margin-bottom: 5rem;
  }
  .login {
    padding: 10rem;
    padding-bottom: 14rem;
  }
  .login p{
    font-size: 1.4rem;
  }
  .cadastro {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  textarea {
    resize: none;
    margin-top: 4px;
    margin-right: 2px;
    font-family: sans-serif;
    width: 40%;
    border-radius: 3px;
  }
  #chat{
		display: flex; 
		color: black;
		background-color: #f8f9fa;
    border: 4px outset black;
    border-radius: 4px;
		width: 300px;
		height: 150px;
		position: fixed;
		bottom: 0;
		right: 50px;
		align-items: flex-start;
		justify-content: space-between;

	}

	#chat .chat-button{
		background-color: #cccccc;
    border: 1px outset black;
    border-radius: 4px;
		padding: 2px 5px;
		margin: 2px;
		cursor: pointer;
	}

	#chat #botoes{
		display: flex;
	}
}