/* 
  Palette
  #212529
  #343a40
  #495057
  #6c757d
  #adb5bd
  #ced4da
  #dee2e6
  #e9ecef
  #f8f9fa

  background = #343a40
  font-color = #f8f9fa
  head-footer= #212529
  head_footer_border = #495057
  text/box shadow = #495057
  chat = #f8f9fa
*/

body {
  margin           : 0;
  color            : #f8f9fa;
  background-color : #343a40;
  font-family      : sans-serif;
  font-weight      : normal;
  user-select      : none;
}

img {
  user-select    : none;
  pointer-events : none;
}

aside {
  display : none;
}

aside p {
  margin-bottom  : 1rem;
  text-align     : center;
  text-transform : capitalize;
  font-size      : 1.6rem;
}

aside img {
  width       : 100%;
  box-shadow  : 0px 10px 15px -5px #495057;
  object-fit   : fill;
  user-select : none;
}

footer {
  /* position: absolute; */
  width            : 100%;
  height           : 40%;
  margin-right     : 50px;
  border-top       : 4px solid #495057;
  background-color : #212529;
  box-shadow       : 0px -4px 15px -5px #495057;
}

a {
  color           : #f8f9fa;
  text-decoration : none;
  text-shadow     : 2px 2px 2px #495057;
}

header {
  border-bottom    : 4px solid #495057;
  background-color : #212529;
  box-shadow       : 0px 4px 10px -5px #495057;
}

.center {
  text-align : center;
}

.login {
  margin         : 2rem;
  padding-top    : 1rem;
  padding-bottom : 50%;
}

.login button {
  margin  : 5px;
  padding : 0.5rem;
}

.cadastro {
  margin-top    : 0;
  margin-bottom : 4rem;
}

.background_img {
  display : none;
}

.title {
  display        : inline-block;
  margin         : 0;
  padding        : 1rem;
  color          : #f8f9fa;
  text-transform : capitalize;
  font-size      : 1.4rem;
  font-weight    : lighter;
}

.navbar {
  display        : none;
  padding-bottom : 1rem;
}

.navitem {
  display         : block;
  margin-left     : 1rem;
  padding-top     : 1rem;
  padding-bottom  : 1rem;
  border-top      : 1px dashed #495057;
  text-decoration : none;
  font-size       : 1rem;
}

.slogan {
  max-width      : 100%;
  padding-top    : 25%;
  padding-bottom : 25%;
  text-align     : center;
  text-shadow    : 2px 2px 2px #495057;
  font-size      : 2rem;
  line-height    : 3rem;
}

.flex-container {
  padding-top     : 1rem;
  padding-bottom  : 1rem;
  align-content   : center;
  align-items     : center;
  flex-direction   : row;
  flex-wrap        : wrap;
  justify-content : center;
  /* display: inline-flex; */
}

.flex-item {
  width          : 100%;
  padding-bottom : 1rem;
  border-bottom  : 1px dashed #495057;
  text-align     : center;
  align-self     : auto;
  font-size      : 1rem;
  flex            : 0 1 auto;
  order          : 0;
  /* margin-top: 0; */
}

.flex-item p {
  margin      : 1rem;
  margin-top  : 1.2rem;
  padding     : 0;
  line-height : 1rem;
}

.chat {
  position : sticky;
}

textarea {
  width         : 100%;
  margin-top    : 4px;
  margin-right  : 2px;
  border-radius : 3px;
  font-family   : sans-serif;
  resize        : none;
}

table.cardapio {
  width            : 80%;
  height           : 12rem;
  margin-top       : 2rem;
  margin-left      : 50%;
  border-collapse  : collapse;
  background-color : #495057;
  text-align       : center;
  transform        : translateX(-50%);
}

table.cardapio td,
table.cardapio th {
  padding : 3px 2px;
  border  : 2px solid black;
}

table.cardapio tbody td {
  padding     : 1rem;
  color       : black;
  font-size   : 1rem;
  line-height : 1.3rem;
}

table.cardapio tr:nth-child(even) {
  background : #6c757d;
}

table.cardapio thead {
  background : #212529;
}

table.cardapio thead th {
  padding     : 8px;
  color       : #f8f9fa;
  text-align  : center;
  font-size   : 1.2rem;
  font-weight : lighter;
}

.flex-container2 {
  display         : flex;
  align-content   : center;
  align-items     : center;
  flex-direction   : row;
  flex-wrap        : wrap;
  justify-content : center;
}

.flex-item2 {
  width      : 90%;
  padding    : 1rem;
  text-align : justify;
  align-self : auto;
  flex        : 0 1 auto;
  order      : 0;
}

.flex-container3 {
  display         : flex;
  padding-top     : 100px;
  padding-bottom  : 100px;
  align-content   : center;
  align-items     : center;
  flex-direction   : row;
  flex-wrap        : wrap;
  justify-content : center;
}

.flex-item3 {
  width       : 100%;
  max-width   : 100%;
  max-height  : 10%;
  padding     : 1rem;
  text-align  : justify;
  align-self  : auto;
  font-size   : 1.2rem;
  flex         : 0 1 auto;
  order       : 0;
  line-height : 1.4rem;
}

.flex-item3 iframe {
  width : 100%;
}

.flex-item3 p {
  text-align : center;
}

.flex-item3 button {
  margin-top    : 2px;
  margin-bottom : 2px;
  margin-left   : 4px;
}

.quem-somos {
  width        : 90%;
  padding      : 1rem;
  text-align   : justify;
  text-justify : inter-word;
  font-size    : 1rem;
  line-height  : 1.2rem;
}

.quem-somos #titulo-about {
  font-size : 1.6rem;
}

.flex-item2 #titulo-missao {
  font-size : 1.6rem;
}

.btn {
  width         : 100%;
  padding       : 0.5rem;
  border        : 0;
  border-radius : 3px;
  box-shadow    : 0px 2px 15px -5px #495057;
  text-align    : center;
  font-size     : 1rem;
  line-height   : 1rem;
}

.btn:hover {
  opacity : 0.8;
}

.img-equipe {
  max-width     : 90%;
  margin        : 1rem;
  margin-bottom : 3rem;
}

form input {
  width          : 100%;
  margin         : 2px;
  color          : black;
  border         : 0;
  border-radius  : 3px;
  text-align     : justify;
  vertical-align : middle;
  align-self     : center;
  font-size      : 0.8rem;
  line-height    : 1.5rem;
}

form label {
  display : none;
}

#chat {
  display : none;
}

#show_menu {
  margin-left      : 1rem;
  border           : 1px solid #f8f9fa;
  border-radius    : 4px;
  background-color : #495057;
  font-size        : 2rem;
}

.tamanho-pizza {
  display       : block;
  position      : relative;
  width         : 100%;
  margin-bottom : 15px;
}

.tamanho-pizza select {
  margin-left      : 50%;
  padding          : 10px 15px;
  border-radius    : 4px;
  background-color : #e6e6e6;
  outline          : 0;
  transform        : translateX(-50%);
  cursor           : pointer;
}

.sabores {
  display         : flex;
  align-items     : center;
  flex-wrap       : wrap;
  justify-content : center;
}

.sabores-item {
  margin    : 5px;
  transform : translateX(-15%);
}

.sabores-item p {
  margin-bottom  : 8px;
  text-align     : center;
  text-transform : capitalize;
}

ul {
  list-style-type : none;
}

li {
  display : inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display : none;
}

label {
  display  : block;
  position : relative;
  margin   : 10px;
  padding  : 10px;
  border   : 1px solid white;
  cursor   : pointer;
}

label:before {
  content             : " ";
  display             : block;
  position            : absolute;
  top                 : -5px;
  left                : -5px;
  width               : 25px;
  height              : 25px;
  border              : 1px solid gray;
  border-radius       : 50%;
  text-align          : center;
  line-height         : 28px;
  transform           : scale(0);
  transition-duration : 0.4s;
}

label img {
  width               : 100px;
  height              : 100px;
  transform-origin    : 50% 50%;
  transition-duration : 0.2s;
}

:checked + label {
  border-color : green;
}

:checked + label:before {
  content          : "✓";
  background-color : gray;
  transform        : scale(1);
}

:checked + label img {
  z-index    : -1;
  opacity    : 0.3;
  box-shadow : 0 0 5px #333;
  transform  : scale(0.9);
}

.pedido {
  text-align : center;
  font-size  : 1.4rem;
}

.recheio-bordas {
  width         : 50%;
  border-radius : 5px;
  text-align    : center;
  transform     : translateX(+50%);
}

.recheio-bordas label {
  display        : inline-block;
  margin         : 4px;
  padding        : 5px;
  padding-top    : 20px;
  padding-bottom : 20px;
  border         : 2px solid #495057;
}

.erro_cadastro_sabor {
  margin: 2rem;
  text-align: center;
  color: rgb(209, 118, 16);
  margin-left: 50%;
  transform: translateX(-50%);
}

@media
  only screen
  and (min-width : 700px) {
  header {
    border-bottom    : 4px solid #495057;
    background-color : #212529;
  }
  
  .title {
    display        : block;
    margin         : 0;
    padding        : 2rem;
    padding-bottom : 1rem;
    color          : #f8f9fa;
    text-transform : capitalize;
    font-size      : 2rem;
    font-weight    : lighter;
  }
  
  .navbar {
    display        : inline-flex;
    padding-bottom : 1rem;
    padding-left   : 1rem;
  }
  
  .navitem {
    display         : inherit;
    padding-right   : 1rem;
    border          : none;
    text-decoration : none;
    font-size       : 1.2rem;
  }
  
  .flex-container {
    display : inline-flex;
  }
  
  .flex-item {
    width       : 30%;
    padding     : 10px;
    border      : none;
    text-align  : center;
    align-self  : auto;
    font-size   : 1.2rem;
    flex         : 0 1 auto;
    order       : 0;
    line-height : 1rem;
  }
  
  .flex-item p {
    font-size   : 1rem;
    line-height : 1rem;
  }
  
  .flex-item2 {
    width       : 40%;
    max-height  : 10%;
    padding     : 0.5rem;
    text-align  : justify;
    align-self  : auto;
    font-size   : 1.2rem;
    flex         : 0 1 auto;
    order       : 0;
    line-height : 1.4rem;
  }
  
  .flex-item3 {
    width       : 45%;
    max-height  : 10%;
    padding     : 0.5rem;
    text-align  : justify;
    align-self  : auto;
    font-size   : 1.2rem;
    flex         : 0 1 auto;
    order       : 0;
    line-height : 1.4rem;
  }
  
  .flex-item3 input {
    width : 80%;
  }
  
  .flex-item3 button {
    width      : 30%;
    margin     : 0;
    margin-top : 5px;
    transform  : translateX(+75%);
  }
  
  form input {
    width          : 40%;
    margin         : 2px;
    margin-top     : 5px;
    padding-left   : 5px;
    color          : black;
    border         : 0;
    border-radius  : 3px;
    text-align     : justify;
    vertical-align : middle;
    font-size      : 0.8rem;
    line-height    : 1.5rem;
  }
  
  form label {
    display      : inline-block;
    width        : 15%;
    margin       : 0px;
    margin-right : 2px;
    text-align   : right;
    font-size    : 1rem;
    line-height  : 1rem;
  }
  
  .btn {
    width         : 20%;
    margin        : 4px;
    margin-right  : 1px;
    margin-left   : 0px;
    padding       : 0.5rem;
    border        : 0;
    border-radius : 3px;
    text-align    : center;
    font-size     : 1rem;
    line-height   : 1rem;
  }
  
  .background_img {
    display : inherit;
    width   : 100%;
    height  : 100%;
    opacity : 0.1;
  }
  
  .slogan {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    max-width   : 50%;
    margin      : 0;
    padding     : 0;
    text-align  : center;
    text-shadow : 2px 2px 2px #495057;
    font-size   : 3rem;
    line-height : 4rem;
    transform   : translate(-50%,-50%);
  }
  
  aside {
    display     : inherit;
    position    : absolute;
    top         : 60%;
    left        : 90%;
    width       : 14rem;
    height      : 30rem;
    float        : right;
    text-shadow : 2px 2px 2px #495057;
    font-style  : italic;
    transform   : translate(-50%, -50%);
  }
  
  footer {
    width            : 100%;
    height           : 40%;
    margin           : 0;
    border-top       : 4px solid #495057;
    background-color : #212529;
  }
  
  .quem-somos {
    max-width     : 60%;
    margin-top    : 1.5rem;
    margin-bottom : 1.5rem;
    margin-left   : 50%;
    text-align    : justify;
    text-justify  : inter-word;
    font-size     : 1.2rem;
    line-height   : 1.4rem;
    transform     : translateX(-50%);
  }
  
  .quem-somos #titulo-about {
    margin     : 0;
    margin-top : 2rem;
    font-size  : 2rem;
  }
  
  .quem-somos #titulo-quem-somos {
    margin    : 0;
    font-size : 2rem;
  }
  
  .img-equipe {
    max-width     : 60%;
    margin-bottom : 5rem;
  }
  
  .login {
    padding        : 10rem;
    padding-bottom : 14rem;
  }
  
  .login p {
    font-size : 1.4rem;
  }
  
  .cadastro {
    margin-top    : 2rem;
    margin-bottom : 6rem;
  }
  
  textarea {
    width         : 40%;
    margin-top    : 4px;
    margin-right  : 2px;
    border-radius : 3px;
    font-family   : sans-serif;
    resize        : none;
  }
  
  #chat {
    display          : flex;
    position         : fixed;
    right            : 50px;
    bottom           : 0;
    width            : 300px;
    height           : 150px;
    color            : black;
    opacity          : 0.9;
    border           : 4px outset black;
    border-radius    : 4px;
    background-color : #f8f9fa;
    align-items      : flex-start;
    justify-content  : space-between;
  }
  
  #chat .chat-button {
    margin           : 2px;
    padding          : 2px 5px;
    border           : 1px outset black;
    border-radius    : 4px;
    background-color : #cccccc;
    cursor           : pointer;
  }
  
  #chat #botoes {
    display : flex;
  }
  
  #show_menu {
    display : none;
  }
  
  .tamanho-pizza {
    display       : inline-block;
    position      : relative;
    width         : 50%;
    margin-bottom : 15px;
    transform     : translateX(+50%);
  }
  
  .tamanho-pizza select {
    display       : inline-block;
    appearance    : none;
    width         : 100%;
    padding       : 10px 15px;
    color         : #7b7b7b;
    border-radius : 4px;
    background    : #e6e6e6;
    outline       : 0;
    cursor        : pointer;
  }
  
  .tamanho-pizza select::-ms-expand {
    display : none;
  }
  
  .tamanho-pizza select:focus,
  .tamanho-pizza select:hover {
    color      : #000000;
    background : #cccccc;
  }
  
  .tamanho-pizza select:disabled {
    opacity        : 0.5;
    pointer-events : none;
  }
  
  .sabores {
    display         : flex;
    margin-left     : 50%;
    align-items     : center;
    flex-wrap        : wrap;
    justify-content : center;
    transform       : translateX(-50%);
  }
  
  .sabores-item {
    margin    : 0;
    transform : translateX(-15%);
  }
  
  .sabores-item p {
    margin-bottom  : 8px;
    text-align     : center;
    text-transform : capitalize;
  }
  
  ul {
    list-style-type : none;
  }
  
  li {
    display : inline-block;
  }
  
  input[type="checkbox"][class^="myCheckbox"] {
    display : none;
  }

  
  label {
    margin  : 0;
    padding : 0;
    border  : none;
  }
  
  #sabor-label {
    display  : block;
    position : relative;
    margin   : 10px;
    padding  : 8px;
    border   : 1px solid white;
    cursor   : pointer;
  }
  
  #sabor-label:before {
    content             : " ";
    display             : block;
    position            : absolute;
    top                 : -5px;
    left                : -5px;
    width               : 25px;
    height              : 25px;
    border              : 1px solid gray;
    border-radius       : 50%;
    text-align          : center;
    line-height         : 28px;
    transform           : scale(0);
    transition-duration : 0.4s;
  }
  
  #sabor-label img {
    width               : 100px;
    height              : 100px;
    transform-origin    : 50% 50%;
    transition-duration : 0.2s;
  }
  
  :checked + #sabor-label {
    border-color : green;
  }
  
  :checked + #sabor-label:before {
    content          : "✓";
    background-color : gray;
    transform        : scale(1);
  }
  
  :checked + #sabor-label img {
    z-index    : -1;
    opacity    : 0.3;
    box-shadow : 0 0 5px #333;
    transform  : scale(0.9);
  }
  
  .pedido {
    text-align : center;
    font-size  : 1.4rem;
  }
  
  .recheio-bordas {
    width         : 50%;
    margin-bottom : 1.4rem;
    transform     : translateX(+50%);
  }
  
  .recheio-bordas #sabor-label {
    padding        : 0;
    padding-top    : 20px;
    padding-bottom : 20px;
    border         : none;
  }
  
  .pedido-btn {
    width            : 200px;
    margin-bottom    : 3rem;
    margin-left      : 50%;
    background-color : green;
    transform        : translateX(-50%);
  }
}
